.m-main-content {
    background-color: #eceef1;
    position: relative;
    height: calc(100vh - 56px);
    padding: 24px;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.m-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.m-header-title {
    font-size: 24px;
    font-family: Notosans-Bold;
    color: #111;
}

.m-content-body {
    background-color: #fff;
    padding: 0 16px;
    margin-top: 16px;
    height: 100%;
}

.m-body-toolbar {
    padding: 12px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.m-icon-refresh:hover, .m-icon-excel:hover  {
    cursor: pointer;
    opacity: 0.8;
}

.m-search-area {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}


.m-input-icon-search {
    cursor: pointer;
    position: absolute;
    right: 8px;
}

.m-input-search{
    padding-right: 36px;
}